{% extends "my_layout.html" %}
{% block body %}
<table class="table">
    <tr>
        <th>Autor</th>
        <th>Titlu</th>
        <th>Anul publicarii</th>
    </tr>
    {% for book in books %}
    {% if book.available %}
    <tr>
    {% else %}
    <tr class="danger">
    {% endif %}
        <td>{{ book.author or '&mdash;'|safe }}</td>
        <td>{{ book.title or '&mdash;'|safe }}</td>
        <td>{{ book.year or '&mdash;'|safe }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
